    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let successMsg = document.querySelector(".success_msg");
            if(successMsg) {
                setTimeout(() => {
                    successMsg.style.display = "none";
                }, 2000);
            }
        });
    </script>
</body>
</html>