<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="flex justify-between items-center px-12 py-6">
        <a href="">Khatabook</a>
        <% var linksNotAllowed = typeof linksNotAllowed !== 'undefined' ? linksNotAllowed : true %>
        <% if(linksNotAllowed) { %>
            <ul class="flex gap-6">
                <li><a href="">Home</a></li>
                <li><a href="">Create New Hisab</a></li>
                <li><a class="text-red-600" href="/logout">Logout</a></li>
            </ul>
        <% } %>
    </nav>