<%- include('./partials/header.ejs') %>
  <div class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
    <form action="/login" method="post" class="flex flex-col items-start gap-1" autocomplete="off">
      <h1 class="mb-2 font-bold text-lg">Login Your Account 👇</h1>
      <input class="border border-black rounded-md px-2 py-1" type="email" name="email" id="" placeholder="Email">
      <input class="border border-black rounded-md px-2 py-1" type="password" name="password" id=""
        placeholder="password">
      <input class="px-6 py-2 mt-1 bg-blue-500 rounded-md text-white font-semibold" type="submit" value="Login">
    </form>

    <div class="mt-4 text-blue-700">
      <a href="/register">Don't Have an Account</a>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>