<%- include("./partials/header.ejs") %>

<div class="flex flex-col gap-2 w-max m-auto h-[65%] justify-center">
    <h1 class="text-black font-semibold text-3xl">Login</h1>
    <form class="flex flex-col gap-2" action="" method="post">
        <input class="block bg-transparent text-zinc-500 px-4 py-1 outline-blue-500 border border-zinc-200 rounded-md" type="text" name="emailusername" id="username" placeholder="email or username">
        <input class="block bg-transparent text-zinc-500 px-4 py-1 outline-blue-500 border border-zinc-200 rounded-md" type="text" name="password" id="password" placeholder="password">
        <button class="bg-blue-500 w-max px-5 py-1 text-white rounded-md" type="submit">Login</button>
    </form>
    <a class="text-blue-600" href="/register">Dont't have an account ?</a>
</div>

<%- include("./partials/footer.ejs") %>